<app-add-employee></app-add-employee>
  
<table id="myTable" class="table">
  <thead>
    <tr>
      <th scope="col">ID_MST_employeeId</th>
      <th scope="col">employee_type</th>
      <th scope="col">employee_first_name</th>
      <th scope="col">employee_last_name</th>
      <th scope="col">employee_citizen_id</th>
      <th scope="col">employee_gender</th>
      <th scope="col">employee_telephone</th>
      <th scope="col">employee_salary</th>
      <th scope="col">employee_birthday</th>
      <th scope="col">username</th>
      <th scope="col">password</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of service.list">
        <td>{{emp.ID_MST_employeeId}}</td>
        <td>{{emp.employee_type}}</td>
        <td>{{emp.employee_first_name}}</td>
        <td>{{emp.employee_last_name}}</td>
        <td>{{emp.employee_citizen_id}}</td>
        <td>{{emp.employee_gender}}</td>
        <td>{{emp.employee_telephone}}</td>
        <td>{{emp.employee_salary}}</td>
        <td>{{emp.employee_birthday}}</td>
        <td>{{emp.username}}</td>
        <td>{{emp.password}}</td>
    </tr>
  </tbody>
</table>

